# Maven / build
target/
!.mvn/wrapper/maven-wrapper.jar

# Quarkus
.quarkus/
quarkus-app/

# IDEs
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# logs and temp
*.log
*.tmp

# Docker
docker-compose.override.yml
